*:focus-visible {
  outline-width: var(--width-focus-visible-outline, 2px);
  outline-offset: 0px;
  outline-style: solid;
}

@media (prefers-color-scheme: light) {
  *:focus-visible {
    outline-color: var(--color-focus-visible-outline--light, black);
  }
}

@media (prefers-color-scheme: dark) {
  *:focus-visible {
    outline-color: var(--color-focus-visible-outline--dark, white);
  }
}

input:focus-visible {
  outline: unset;
}
