/* TODO: Redesign these variables or get rid of them, create more preset fonts, like material design. */

:root {
  --font-ps-1: 0.5rem;
  --font-ps-2: 0.625rem;
  --font-ps-3: 0.75rem;
  --font-ps-4: 1rem;
  --font-ps-5: 1.25rem;
  --font-ps-6: 1.5rem;
  --font-ps-7: 1.75rem;
  --font-ps-8: 2rem;
  --font-ps-9: 3rem;
  --font-ps-10: 4rem;
  --font-hs-1: 1rem;
  --font-hs-2: 1.5rem;
  --font-hs-3: 2rem;
  --font-hs-4: 2.5rem;
  --font-hs-5: 3rem;
}

.g-text-title {
  font-family: 'Teko';

  /* TODO: Finish basic typography rules. */
  .g-typography & + .g-text-body {
    margin-top: 1rem;
  }
}

.g-text-title-large {
  font-size: var(--font-hs-5);
  font-variation-settings: 'wght' 400;
}

.g-text-title-medium {
  font-size: var(--font-hs-4);
  font-variation-settings: 'wght' 300;
}

.g-text-title-small {
  font-size: var(--font-hs-3);
  font-variation-settings: 'wght' 400;
}

.g-text-body {
  font-family: 'Roboto Flex';
}

.g-text-body-large {
  font-variation-settings:
    'wght' 500,
    'GRAD' 100;
}

.g-text-body-medium {
  font-size: var(--font-ps-6);
}

.g-text-body-small {
  font-size: var(--font-ps-5);
  font-variation-settings:
    'wght' 400,
    'GRAD' 130;
}

.g-text-label {
  font-family: 'Roboto Flex';
}

.g-text-label-normal {
  font-size: var(--font-ps-3);
  font-variation-settings:
    'wght' 400,
    'GRAD' 100;
  color: var(--color-fg);
}
