.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 178 239);
  --md-sys-color-surface-tint: rgb(255 171 239);
  --md-sys-color-on-primary: rgb(48 0 45);
  --md-sys-color-primary-container: rgb(206 110 192);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 184 193);
  --md-sys-color-on-secondary: rgb(54 0 14);
  --md-sys-color-secondary-container: rgb(255 78 120);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 225 182);
  --md-sys-color-on-tertiary: rgb(61 40 0);
  --md-sys-color-tertiary-container: rgb(248 173 0);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 187 168);
  --md-sys-color-on-error: rgb(50 7 0);
  --md-sys-color-error-container: rgb(255 87 35);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(24 17 22);
  --md-sys-color-on-background: rgb(237 223 230);
  --md-sys-color-surface: rgb(24 17 22);
  --md-sys-color-on-surface: rgb(255 249 250);
  --md-sys-color-surface-variant: rgb(81 67 77);
  --md-sys-color-on-surface-variant: rgb(217 197 210);
  --md-sys-color-outline: rgb(176 158 170);
  --md-sys-color-outline-variant: rgb(143 126 138);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(237 223 230);
  --md-sys-color-inverse-on-surface: rgb(48 40 45);
  --md-sys-color-inverse-primary: rgb(121 35 113);
  --md-sys-color-primary-fixed: rgb(255 215 243);
  --md-sys-color-on-primary-fixed: rgb(39 0 37);
  --md-sys-color-primary-fixed-dim: rgb(255 171 239);
  --md-sys-color-on-primary-fixed-variant: rgb(99 11 94);
  --md-sys-color-secondary-fixed: rgb(255 217 221);
  --md-sys-color-on-secondary-fixed: rgb(44 0 10);
  --md-sys-color-secondary-fixed-dim: rgb(255 178 188);
  --md-sys-color-on-secondary-fixed-variant: rgb(114 0 40);
  --md-sys-color-tertiary-fixed: rgb(255 222 173);
  --md-sys-color-on-tertiary-fixed: rgb(26 15 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 186 60);
  --md-sys-color-on-tertiary-fixed-variant: rgb(74 49 0);
  --md-sys-color-surface-dim: rgb(24 17 22);
  --md-sys-color-surface-bright: rgb(63 55 60);
  --md-sys-color-surface-container-lowest: rgb(19 12 17);
  --md-sys-color-surface-container-low: rgb(33 25 31);
  --md-sys-color-surface-container: rgb(37 29 35);
  --md-sys-color-surface-container-high: rgb(48 40 45);
  --md-sys-color-surface-container-highest: rgb(59 50 56);
}
