.light {
  --md-sys-color-primary: rgb(72 0 68);
  --md-sys-color-surface-tint: rgb(147 60 138);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(117 32 110);
  --md-sys-color-on-primary-container: rgb(255 208 242);
  --md-sys-color-secondary: rgb(153 0 56);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(217 22 86);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(127 87 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 189 73);
  --md-sys-color-on-tertiary-container: rgb(76 51 0);
  --md-sys-color-error: rgb(152 38 0);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(216 58 0);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 247 249);
  --md-sys-color-on-background: rgb(33 25 31);
  --md-sys-color-surface: rgb(255 247 249);
  --md-sys-color-on-surface: rgb(33 25 31);
  --md-sys-color-surface-variant: rgb(242 221 233);
  --md-sys-color-on-surface-variant: rgb(81 67 77);
  --md-sys-color-outline: rgb(131 114 125);
  --md-sys-color-outline-variant: rgb(213 193 205);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(54 46 52);
  --md-sys-color-inverse-on-surface: rgb(252 237 244);
  --md-sys-color-inverse-primary: rgb(255 171 239);
  --md-sys-color-primary-fixed: rgb(255 215 243);
  --md-sys-color-on-primary-fixed: rgb(57 0 54);
  --md-sys-color-primary-fixed-dim: rgb(255 171 239);
  --md-sys-color-on-primary-fixed-variant: rgb(119 34 112);
  --md-sys-color-secondary-fixed: rgb(255 217 221);
  --md-sys-color-on-secondary-fixed: rgb(64 0 19);
  --md-sys-color-secondary-fixed-dim: rgb(255 178 188);
  --md-sys-color-on-secondary-fixed-variant: rgb(145 0 53);
  --md-sys-color-tertiary-fixed: rgb(255 222 173);
  --md-sys-color-on-tertiary-fixed: rgb(40 25 0);
  --md-sys-color-tertiary-fixed-dim: rgb(255 186 60);
  --md-sys-color-on-tertiary-fixed-variant: rgb(96 65 0);
  --md-sys-color-surface-dim: rgb(228 214 222);
  --md-sys-color-surface-bright: rgb(255 247 249);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 247);
  --md-sys-color-surface-container: rgb(249 234 241);
  --md-sys-color-surface-container-high: rgb(243 228 236);
  --md-sys-color-surface-container-highest: rgb(237 223 230);
}
