.light-medium-contrast {
  --md-sys-color-primary: rgb(72 0 68);
  --md-sys-color-surface-tint: rgb(147 60 138);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(117 32 110);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(137 0 49);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(217 22 86);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(91 61 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(156 107 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(128 31 0);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(216 58 0);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 247 249);
  --md-sys-color-on-background: rgb(33 25 31);
  --md-sys-color-surface: rgb(255 247 249);
  --md-sys-color-on-surface: rgb(33 25 31);
  --md-sys-color-surface-variant: rgb(242 221 233);
  --md-sys-color-on-surface-variant: rgb(77 63 73);
  --md-sys-color-outline: rgb(106 91 101);
  --md-sys-color-outline-variant: rgb(135 118 129);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(54 46 52);
  --md-sys-color-inverse-on-surface: rgb(252 237 244);
  --md-sys-color-inverse-primary: rgb(255 171 239);
  --md-sys-color-primary-fixed: rgb(173 82 162);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(144 57 135);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(224 30 91);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(184 0 69);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(156 107 0);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(124 84 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(228 214 222);
  --md-sys-color-surface-bright: rgb(255 247 249);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 247);
  --md-sys-color-surface-container: rgb(249 234 241);
  --md-sys-color-surface-container-high: rgb(243 228 236);
  --md-sys-color-surface-container-highest: rgb(237 223 230);
}
